body {
  height:100%;
  width:900px;
	position: relative;
	margin:0 auto;
}

table {
  width:100%;
}

#src, #dst {
	overflow:auto;
	border:1px solid black;
	width:440px;
  height:400px;
}

.line {
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:0.7em 0;
	overflow:hidden;
}

input {
	font-size:14pt; 
	border-color:black;
	border-style:inset; 
	border-width:1px; 
  width:100%;
}

small {
	float:right
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}
